<div class="w-screen h-screen bg-light flex flex-col align-center items-center">
<%
=begin%>
 reusable header 
<%
=end%>
 <div class="w-screen flex flex-row border-b border-darkBrown items-center">
    <%= link_to campaign_path(id: @campaign.id), class: "bg-darkBrown p-2 flex flex-row text-white tracking-widest text-2xl " do %>
        <%= heroicon "arrow-left-circle", variant: :outline, options: { class: "w-8 h-8 mr-4 text-white" } %>
        BACK
    <% end %>
    <div class="ml-4 items-center tracking-widest text-2xl ">
        <%= @campaign.name %>
    </div>
 </div>
 <% if @notes.empty? %>
    <div class="w-screen text-center text-2xl tracking-widest p-6">
    NO CURRENT NOTES
    </div>
<% end %>
<div class="w-screen bg-local p-6">
    <ul class=" text-sm font-medium text-darkBrown bg-white border border-lightBrown rounded-lg">
        <% @notes.each do |note| %>
            <li class="w-full flex flex-col gap-y-2">
              <div class="flex rounded-b-md bg-lightBrown text-white gap-x-2 p-2 flex-row border-b border-lightBrown items-end">  
                 <p class="text-xl"><%= note.id %></p>
                 <p class=""><%= note.created_at.strftime('%B %H, %C - %I:%M %p') %> </p>
              </div>
              <div class="p-2">
                <%= note.entry %>
               </div>
            </li>
        <%end%>
    </ul>
</div>
<%= link_to "CREATE", campaign_new_note_path,  class: "btn w-36 py-2 px-3 text-center text-white bg-darkBrown rounded" %>
</div>