<div class="pattern-boxes pattern-light pattern-bg-white 
  pattern-size-6 pattern-opacity-100 w-screen h-screen px-4 ">
    <div class=" p-2 rounded-b-lg bg-lightBrown flex justify-between">
        <h1 class="text-xl font-bold leading-tight tracking-wide text-white md:text-2xl">
                <%= @campaign.name %>
        </h1>
        <p class="text-white font-bold text-xs md:text-lg">
          Combat: INACTIVE
          Player: NONE
          Music: FOREST
        </p>
    </div>


    <div class="fixed z-50 w-full h-16 max-w-lg -translate-x-1/2 bg-lightBrown border border-darkBrown rounded-full bottom-4 left-1/2">
        <div class="grid h-full max-w-lg grid-cols-6 mx-auto">
            <button data-tooltip-target="tooltip-combat" type="button" class="inline-flex flex-col items-center justify-center px-5 rounded-s-full hover:bg-darkBrown dark:hover:bg-gray-800 group">
                <%= heroicon "shield-exclamation", variant: :outline, options: { class: "w-6 h-6 mb-1 text-white" } %>
                <span class="sr-only">combat</span>
            </button>
            <div id="tooltip-combat" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                Combat
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>

            <button data-tooltip-target="tooltip-players" type="button" class="inline-flex flex-col items-center justify-center px-5 hover:bg-darkBrown dark:hover:bg-gray-800 group">
                <%= heroicon "user-group", variant: :outline, options: { class: "w-6 h-6 mb-1 text-white" } %>
                <span class="sr-only">players</span>
            </button>
            <div id="tooltip-players" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                Players
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>

            <button data-tooltip-target="tooltip-music" type="button" class="inline-flex flex-col items-center justify-center px-5 hover:bg-darkBrown dark:hover:bg-gray-800 group">
                <%= heroicon "musical-note", variant: :outline, options: { class: "w-6 h-6 mb-1 text-white" } %>
                <span class="sr-only">music</span>
            </button>
            <div id="tooltip-music" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                Music
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>

            <button data-tooltip-target="tooltip-generate" type="button" class="inline-flex flex-col items-center justify-center px-5 hover:bg-darkBrown dark:hover:bg-gray-800 group">
                <%= heroicon "queue-list", variant: :outline, options: { class: "w-6 h-6 mb-1 text-white" } %>
                <span class="sr-only">generate</span>
            </button>
            <div id="tooltip-generate" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                Generate
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>


            <button data-tooltip-target="tooltip-notes" type="button" class="inline-flex flex-col items-center justify-center px-5 hover:bg-darkBrown dark:hover:bg-gray-800 group">
                <%= heroicon "pencil-square", variant: :outline, options: { class: "w-6 h-6 mb-1 text-white" } %>
                <span class="sr-only">notes</span>
            </button>
            <div id="tooltip-notes" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                Notes
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>

            <button data-tooltip-target="tooltip-save" type="button" class="inline-flex flex-col items-center justify-center px-5 rtl rounded-r-full hover:bg-darkBrown dark:hover:bg-gray-800 group">
                <%= heroicon "bookmark-square", variant: :outline, options: { class: "w-6 h-6 mb-1 text-white" } %>
                <span class="sr-only">save</span>
            </button>
            <div id="tooltip-notes" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                Save
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
        </div>
    </div>
</div>
